<div class="uk-container uk-container-expand">
  <form class="uk-search uk-search-default" *ngFor="let filter of viewService.filters">
    <input class="uk-search-input" name="{{filter.name}}" [(ngModel)]="filter.choice" (input)="viewService.updateVisibility()" placeholder="{{filter.name}}">
  </form>
</div>
<div class="uk-container uk-container-expand">
  <table class="uk-table uk-table-striped">
    <thead>
      <tr>
        <th *ngFor="let filter of viewService.filters">{{filter.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataset of viewService.data" [class.uk-hidden]="!viewService.visibleData[dataset._id]">
        <td *ngFor="let filter of viewService.filters">
          {{viewService.getContent(dataset, filter)}}
        </td>
      </tr>
    </tbody>
  </table>
</div>